/* $Id: shiny.css,v 1.13 2014-06-18 15:24:28 mw Exp $ */
* {
  font-family: "Segoe UI",sans-serif;
  margin: 0;
  padding: 0;
}

body {
    background: none repeat scroll 0 0 black;
    color: white;
    margin: 0 auto;
    padding: 0 30px;
    width: 900px;
}

a {
    color: #4E76C9;
    text-decoration: none;
}

#navigation a {
    text-transform: lowercase;
}

h2 {
     display: none;
}

#navigation {
     float: right;
     margin-top: -30px;
}

#navigation li {
     display: inline;
     margin-left: 20px;
}

#navigation li:first-child a {
    color: #85bf25;
}


.quote {
    background: none repeat scroll 0 0 #2B2B2B;
    border: 1px solid #444444;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.quote small {
    color: #aaaaaa;
    display: block;
    font-style: italic;
    text-align: right;
    font-size: 11px;
    margin-top: 8px;
}

.comment {
    color: #aaaaaa;
    display: block;
    text-align: left;
    font-size: 9pt;
    margin-bottom: 8px;
}

.quote pre {
    background: none repeat scroll 0 0 #181818;
    border-radius: 10px 10px 10px 10px;
    color: #DDDDDD;
    font-family: "Lucida Console",monospace;
    font-size: 14px;
    padding: 10px;
    white-space: pre-wrap;
    margin: 8px 0 0 ;
    word-wrap: break-word;
}

.quote pre a {
    font-family: "Lucida Console",monospace;
    font-size: 14px;
    color: #4E76C9;
    white-space: nowrap;
    text-decoration: none;
}

.quote pre a:visited {
    color: #7E76C9;
}

.out-of-context {
    background-color: #2f182f;
}

h1 {
    font-variant: small-caps;
}

label {
    display: block;
}

label[for="context"] {
    display: inline;
}

input,textarea,select {
    background: black;
    color: white ;
    border: 1px solid gray;
}

textarea, input[type="text"] {
    width: 900px;
    background: #181818;
}

textarea {
    display: block;
    font-family: "Lucida Console",monospace;
}

.quote:target {
    border-color: #85BF25;
}

#disclaimer {
    color: #aaaaaa;
    display: block;
    text-align: center;
    font-size: 9pt;
    padding: 2em 0 2em 0;
}

#paginator ul {
	list-style: none;
	text-align: center;
}

#paginator ul li {
	display: inline-block;
	padding: 20px 10px;
}
#paginator ul li:last-child {
	border-right: 0px;
}

.votes, .votes span {
	margin-left: 3px;
	margin-right: 3px;
	display: inline-block;
}

.votes span:before {
	content: '';
	width: 8px;
	background: url('icons.png') no-repeat;
	padding-left: 8px;
	margin-right: 1px;
}
.votes .upvote:before {
	background-position: 0 4px;
}

.votes .meh:before {
	background-position: -8px 4px;
}

.votes .downvote:before {
	background-position: -16px 4px;
}

#home {
	text-decoration: none;
	color: white;
}

/***
div hierarchy:
 +-- sort-form ---------------------------------------+
 | +-- sort-container --------+ +- search-container + | 
 | | Label: [sort-dropdown v] | |   [search...] [OK]| |
 | +--------------------------+ +-------------------+ |
 +----------------------------------------------------+
**/

#sort-form {
  margin-bottom: 5px;
}

#sort-dropdown {
  border: 1px solid gray;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6em;
  background: url(./down-arrow.png) 96% / 15% no-repeat #181818;
}

#sort-container {
  display: inline-block;
}

#search-container {
  display: inline-block;
  float: right;
}

#search {
  width: 150px;
  float: left;
  margin-right: 1px;
  height: 100%;
  padding: 1px;
}
