/* $Id: shiny_mobile.css,v 1.1 2013-04-20 16:43:15 mw Exp $ */
body {
  width: auto;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 24px;
  margin-bottom: 0px;
}

#navigation {
  clear: both;
  float: none;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}
#navigation li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 10px;
  font-size: 16px;
}
.quote {
  margin: 2px;
  margin-bottom: 8px;
  padding: 0px;
  border-radius: 5px;
}

.quote pre {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  line-height: 125%;
  font-weight: bold;
}

.quote .comment {
  font-size: 11px;
  margin-left: 20px;
  margin-top: 5px;
}
.quote .timestamp small {
  font-size: 11px;
  margin-right: 20px;
  margin-bottom: 5px;
}
